.filter {
    font-size: 12px;

    &__item {
        color: var(--light-blue);
        margin: 0 15px 10px 0;

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: 1px solid var(--white);
        }

        &--active {
            color: var(--white);
        }
    }
}