:root {
  /* colors */
  --primary-blue: #3650C9;
  --black: #030303;
  --white: #fff;
  --light-blue: #9AA7E4;
  --off-blue: #4A62CE;
  --gray: #B3B3B3;
}

body {
  color: var(--white);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
