.video {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 80, 201, 0.4);
    z-index: 2;

    &__container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;

        & > iframe {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            border: none;
        }
    }
}